<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.njlabs.guide.android.dev"
    android:versionCode="2"
    android:versionName="1.1a" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.njlabs.guide.android.dev.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.Introduction"
            android:label="@string/title_activity_introduction" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.KeyTerms"
            android:label="@string/title_activity_key_terms" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.Prerequisites"
            android:label="@string/title_activity_prerequisites" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.GooglePlayPublishing"
            android:label="@string/title_activity_google_play_publishing" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.AndroidSDK"
            android:label="@string/title_activity_android_sdk" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.ChoosingIDE"
            android:label="@string/title_activity_choosing_ide" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.ADTplugin"
            android:label="@string/title_activity_adtplugin" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.FirstApp"
            android:label="@string/title_activity_first_app" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.ImageViewer"
            android:label="@string/title_activity_image_viewer" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.FolderStructure"
            android:label="@string/title_activity_folder_structure" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.AppTesting"
            android:label="@string/title_activity_app_testing" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.ListView"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.ListViewDemo"
            android:label="@string/title_activity_list_view_demo" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.SpinnerDropdown"
            android:label="@string/title_activity_spinner_dropdown" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.SpinnerDemo"
            android:label="@string/title_activity_spinner_demo" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.Dialogs"
            android:label="@string/title_activity_dialogs" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.Notifications"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.ImageResources"
            android:label="@string/title_activity_image_resources" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.BitmapCanvas"
            android:label="@string/title_activity_bitmap_canvas" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.Threads"
            android:label="@string/title_activity_threads" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.TimerDemo"
            android:label="@string/title_activity_timer" >
        </activity>
        <activity
            android:name="com.njlabs.guide.android.dev.Intents"
            android:label="@string/title_activity_intents" >
        </activity>
    </application>

</manifest>
